/* Paleta de colores */

html{
    --colorPrimario: #473472;
    --colorSecundario: #53629E;
    --colorTerciario: #87BAC3;
    --colorCuaternario: #D6F4ED;
}

/* Inicio */



/* Acerca de nosotros */



/* Contacto */


