/* Paleta de colores */

html {
    --colorPrimario: #473472;
    --colorSecundario: #53629E;
    --colorTerciario: #87BAC3;
    --colorCuaternario: #D6F4ED;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Oswald", sans-serif;
}

/* Navbar */

header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#navbar {
    height: 15vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colorCuaternario);
    border-radius: 100px;
    margin-top: 2vh;
}

.img-container {
    height: 80%;
    margin-left: 3vw;
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.img {
    height: 100%;
}

.img:hover {
    transform: scale(1.01);
}

.links-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.link:hover {
    transform: scale(1.05);
    color: rgba(0, 0, 0, 0.651);
}

.link:active {
    transform: scale(.9);
    color: rgba(0, 0, 0, 0.401);
}

/* Inicio */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor-principal {
    background-color: var(--colorCuaternario);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 8%;
    gap: 30px;
}

.descripcion {
    max-width: 600px;
}

.texto-descripcion {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.boton {
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    display: inline-block;
    background-color: var(--colorTerciario);
    color: var(--colorSecundario);
    border-radius: 25px;
    padding: 14px 32px;
    text-decoration: none;
    font-weight: 600;
}

.boton:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.asesoramiento {
    background-color: var(--colorCuaternario);
    text-align: center;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.asesoramiento h2 {
    margin: 50px;
    font-size: 28px;
}

.servicios {
    font-family: 'Arial', sans-serif;
    background-color: var(--colorSecundario);
    font-size: 18px;
    padding: 50px 0;
}

.servicios h2 {
    text-align: center;
}

.servicios p {
    text-align: center;
    line-height: 1.6;
}

.tarjetas-servicios {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.tarjeta {
    width: 300px;
    text-align: center;
    padding-bottom: 16px;
}

.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.tarjeta h3 {
    margin: 12px 0 8px;
    font-size: 18px;
    color: var(--colorPrimario);
    font-family: 'Arial', sans-serif;
}

.tarjeta p {
    font-family: 'Arial', sans-serif;
    padding: 0 12px;
    font-size: 14px;
    color: var(--colorPrimario);
}


/* Acerca de nosotros */
.contenedor-acerca {
    background-color: var(--colorCuaternario);
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 4rem 8%;
    gap: 30px;
}

.por-que-nosotros {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: var(--colorSecundario);

}

.por-que-nosotros h2 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
}

.por-que-nosotros p {
    margin: 20px auto;
    max-width: 600px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    font-size: 20px;
}

/* Contacto */

/* Footer */


div.contacto {
    background-color: var(--colorTerciario);
    color: var(--colorSecundario);
    padding: 2px 20px 2px 20px;
}

div.container {
    background-color: var(--colorCuaternario);
    color: var(--colorTerciario);
    border-top: 1px solid #473472;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing:content-box;
}

.redes svg {
    width: 24px;
    height: 24px;
}